AWS VPN Client/
AWSVPNClient/
gh/
Panda/
alacritty/
btop/
clash/
coc/
configstore/
emby-server/
fish/
flutter/
github-copilot/
htop/
images/
iterm2/
karabiner/
localbin/
mvin.bakcup/
raycast/
realm-cli/
service/
thefuck/
wireshark/
yarn/
zed/
zsh/
